:root {
  --tably-footer-toolbar-height: 35px;
  --tably-header-toolbar-height: 35px;
  --tably-body-margin: 5px;
  --tably-table-search: 300px;
  --tably-body-height: calc(100vh - var(--tably-footer-toolbar-height) - var(--tably-header-toolbar-height) - 60px);
}


.tably {
   background-color:rgb(245, 245, 245);
}

.tably.table tbody tr {
  line-height: 0.9;
}

.tably .table tbody {
  z-index: 1; /* Ensure rows have a lower stacking order */
  position: relative; /* Reset stacking context */
}

.tably-filter-header select,
.tably-filter-header input {
  z-index: 1050; /* Ensure fields stack above table rows */
  position: relative;
}

.tably .table tbody tr {
  z-index: auto; /* Prevent interference with sticky elements */
}

.tably .table tbody tr:hover {
  background-color: rgb(183, 230, 252);
  color: rgb(7, 7, 7);
  font-weight: 200;
}

.tably .table{
  border-spacing: 0px !important;
  /* remove  */
  border-collapse: unset !important;
}

.tably-table-wrapper {
  max-height: var(--tably-body-height);
  /* min-height: var(--tably-body-height); */
  overflow-y: auto;
  max-width: 100vw;
  position: relative;
  background-color: #ffffff;
  margin: var(--tably-body-margin);;
  z-index: 1;
}



.tably .tably-table-wrapper .table thead tr th {
  border-top: 1px solid #d1d7dd !important;
  border-bottom: 1px solid #d1d7dd !important;
}

.tably .tably-table-wrapper .table thead,
.tably .tably-table-wrapper .table tfoot {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ffffff !important;
  box-shadow: 0px 1px 0px 0px rgb(252, 251, 250);
  /* Add a box shadow to create a non-transparent border effect */
}

.tably .tably-table-wrapper .table td,
.tably .tably-table-wrapper .table th {
    white-space: nowrap; 
    text-overflow: ellipsis; 
    padding: 8px; /* Optional: Adjusts cell padding */
    border-right: 1px solid #dee2e6;
}

.tably-footer-container {
  position: sticky;
  bottom: 0;
}

.tably-table-search {
  width: var(--tably-table-search);
  margin: 5px;
  padding: 5px !important;
  /* Add space before the table */
}

.tably-table-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #dee2e6;
  padding: 5px;
  width: 100%;
  height: var(--tably-footer-toolbar-height);
  white-space: nowrap;
  margin-top: 5px;
  margin-bottom: 5px;
  position: sticky;
  bottom: 0;
  z-index: 1;
  /* Add space before the bottom toolbar */
}

.tably-table-footer-page .btn {
  width: 40px;
}

.tably-table-footer-page {
  padding: 1px;
  width: 38%;
  /* Adjust the width as needed */
}

.table-footer-buttons .btn {
  width: 35px;
}

.tably-table-footer-buttons {
  justify-items: center;
  align-items: center;
  width: 45%;
  /* Adjust the width as needed */
}

.tably-rows-per-page {
  width: 100px;
  margin-left: 5px;
  margin-right: 5px;
  height: calc(var(--tably-footer-toolbar-height) - 5px);
  text-align: center;
  padding: 5px;
  padding-bottom: 6px;
  margin-top: 3px;
  /* Adjust the width as needed */
}

.tably-footer-buttons {
  justify-items: center;
  align-items: center;
  width: 50px;
  height: calc(var(--tably-footer-toolbar-height) - 5px);
  /* Adjust the width as needed */
}

.tably-table-footer-info {
  margin-left: 10px;
  margin-right: 10px;
}

.tably-table-footer .btn {
  font-size: 12px;
  /* Make the buttons small */
}

.tably-checkbox-header,
.tably-checkbox-cell {
  max-width: 50px;
}

.tably button {
  min-width: 30px;
}

.tably-total-pages {
  margin-left: 10px;
  margin-right: 10px;
}

.tably-current-page {
  margin-left: 10px;
  margin-right: 5px;
}

.tably-header-toolbar {
  margin: 5px;
  display: flex;
  height: var(--tably-header-toolbar-height);
  align-items: center;
  justify-content: flex-start;
  padding: 1px;
  border-radius: 2px;
}

.tably-filter-header{
 cursor: pointer;
}

.tably-color-red {
  background-color: #ff009d;
}
.tably-color-green {
  background-color: #a6f8a6;
}
.tably-color-blue {
  background-color: #ccccff;
}
.tably-color-yellow {
  background-color: #eeee69;
}
.tably-color-grey {
  background-color: #ececec;
}
.tably-color-turquoise {
  background-color: #c6ffe7;
}
.tably-color-yellow {
  background-color: #ecf23740;
}

.tably-context-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 8px;
  border-radius: 4px;
}

.tably-context-menu-item {
  padding: 8px;
  cursor: pointer;
}

.tably-context-menu-item:hover {
  background-color: #f0f0f0;
}


.tably-dropdown {
  position: relative;
}

.tably-dropdown-button {
  width: 100%;
  text-align: left;
  padding: 5px 10px;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 4px;
  cursor: pointer;
}

.tably-dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 3000; /* Higher than other elements */
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: fit-content;
  overflow: auto;
  width: fit-content;
}

.tably-dropdown-menu.active {
  display: block;
  z-index: 9000;
}

.tably-dropdown-menu label {
  display: block;
  padding: 5px 10px;
  cursor: pointer;
}

.tably-dropdown-menu label:hover {
  background-color: #f8f9fa;
}

.active{
  background-color: #eff2f5!important;
  z-index: 1050 !important;
}